---
title: Nova Malone
---

<!DOCTYPE html>
<html>
    <head>
        <title>Nova Malone | {{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!--Preconnect-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!--Styles-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto:wght@400;500;700&display=swap">
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>
        <nav class="nav-bar">
            <ul>
                <li><a href="/"><h1 class="darkpink">Nova Malone</h1></a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </nav>
        <div class="content">
            {{ content | safe }}
        </div>
    </body>
</html>